/build/
/dist/
/KhanzaAntrianPoli/build/
/KhanzaAntrianPoli/nbproject/private/
/KhanzaUpdater/build/
/KhanzaHMSServiceMobileJKNERM/nbproject/private/
/KhanzaHMSServiceMobileJKNERM/build/
/KhanzaHMSServiceMobileJKNERM/dist/
